In [2]:
print("hello")

hello

In [3]:
import pandas as pd
import pymongo
import json

myclient = pymongo.MongoClient("mongodb+srv://mongodb:mongodb@cluster0.lpuwu.mongodb.net/?retryWrites=true&w=majority")
mydb = myclient["Store_Sales"]
mycol = mydb["Sales"]

for data in mycol.find():
    del data["_id"]
    df = pd.DataFrame(data)

In [4]:
df.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.50,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,1998,None,Tier 3,Grocery Store,732.3800
4,8.93,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052

In [5]:
class MongoDB:
    def __init__(self,mongodb_url:str,db_name:str,col_name:str,):
        self.mongodb_url = mongodb_url
        self.my_client = pymongo.MongoClient(self.mongodb_url)
        self.db_name = db_name
        self.my_db = self.my_client[self.db_name]
        self.col_name = col_name
        self.my_col = self.my_db[self.col_name]

    def fetch_all(self,):
        for data in self.my_col.find():
            del data["_id"]
            dataframe = pd.DataFrame(data)
        return dataframe

In [6]:
import os
import certifi
ca = certifi.where()

mongodb_url = "mongodb+srv://mongodb:mongodb@cluster0.lpuwu.mongodb.net/?retryWrites=true&w=majority"
print(mongodb_url)
db_name = "Store_Sales"
col_name = "Sales"


mongodb = MongoDB(mongodb_url=mongodb_url,db_name=db_name,col_name=col_name)

mongodb+srv://mongodb:mongodb@cluster0.lpuwu.mongodb.net/?retryWrites=true&w=majority

In [7]:
df = mongodb.fetch_all()
df.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.50,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,1998,None,Tier 3,Grocery Store,732.3800
4,8.93,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052

In [9]:
len(df.columns)

10

In [10]:
dataset = pd.read_csv(r"D:\cassandra_db_api\Train_data.csv")

In [12]:
len(dataset.columns)

12